In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hupai.txt', delim_whitespace=True, parse_dates=['month'])
df.month = df.month.dt.to_period('M')
df

     month  headcount  initial  lowest  average      stop  number
0  2018-04     204980    86300   86900    87089  11:29:12      69
1  2018-03     217056    86300   88100    88176  11:29:56    2526
2  2018-02     220831    86300   87600    87660  11:29:59     410
3  2018-01     226316    86300   87900    87936  11:29:59    3045
4  2017-12     228148    91700   92800    92848  11:29:58    3160
5  2017-11     226911    91700   93100    93130  11:29:59    1025
6  2017-10     244868    91700   93500    93540  11:29:59    2535
7  2017-09     250566    89800   91300    91415  11:29:56    2101
8  2017-08     256083    89800   91600    91629  11:29:59    1468
9  2017-07     269189    89800   92200    92250  11:29:57    1471
10 2017-06     244349    86900   89400    89532  11:29:45     766
11 2017-05     270197    86900   90100    90209  11:29:55    1145
12 2017-04     252273    86900   89800    89850  11:29:59     154
13 2017-03     262010    86000   87800    87916  11:29:55    1476
14 2017-02     251717    86000   88200    88240  11:29:58     843
15 2017-01     232101    86000   87600    87685  11:29:57    4000

In [3]:
import pathlib
p = pathlib.Path('.')
files = list(p.glob('*-*.txt'))

frames = []
months = []
for f in files:
    df = pd.read_csv(f.name, delim_whitespace=True, header=None, names=['time', 'price'])
    frames.append(df)
    months.append(pd.Period(f.stem, 'M'))

total = pd.concat(frames, keys=months)
total.shape

(915, 2)

In [4]:
total.reset_index(inplace=True)
total.rename(columns={'level_0':'month', 'level_1':'second'}, inplace=True)
table = pd.pivot_table(total, values='price', index=['month'], columns=['second'])
table

second,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
month,,,,,,,,,,,,,,,,,,,,,
2017-01,86300,86300,86300,86300,86300,86300,86400,86400,86400,86500,...,87100,87100,87100,87100,87200,87200,87300,87400,87500,87600
2017-02,86600,86600,86600,86600,86600,86600,86600,86600,86600,86700,...,87600,87600,87700,87800,87900,88000,88100,88100,88200,88200
2017-03,86600,86600,86600,86600,86600,86600,86600,86600,86600,86600,...,87200,87200,87300,87400,87500,87600,87700,87700,87800,87800
2017-04,88500,88500,88500,88500,88500,88500,88500,88500,88500,88500,...,89200,89200,89300,89300,89400,89400,89500,89500,89600,89800
2017-05,88500,88500,88500,88500,88500,88500,88500,88500,88600,88600,...,89500,89600,89600,89700,89800,89900,90000,90100,90100,90100
2017-06,88400,88500,88500,88500,88500,88500,88500,88500,88500,88500,...,89100,89100,89200,89200,89200,89200,89300,89300,89300,89400
2017-07,90400,90400,90400,90400,90400,90400,90400,90400,90400,90400,...,91600,91700,91800,91900,92000,92100,92100,92100,92200,92200
2017-08,90200,90200,90300,90300,90300,90300,90300,90300,90400,90400,...,91100,91100,91100,91200,91200,91200,91300,91300,91400,91600
2017-09,90100,90100,90100,90100,90100,90100,90100,90100,90100,90100,...,90700,90700,90800,90800,90800,90900,91000,91000,91200,91300
2017-10,92000,92000,92000,92000,92000,92000,92000,92000,92000,92100,...,92800,92800,92900,92900,93000,93100,93200,93300,93400,93500
2017-11,92000,92000,92000,92000,92000,92000,92000,92000,92000,92000,...,92600,92600,92600,92600,92700,92700,92800,92800,92900,93100
2017-12,92000,92000,92000,92000,92000,92000,92000,92000,92000,92000,...,92300,92300,92300,92300,92300,92400,92500,92600,92600,92800
2018-01,86600,86600,86600,86600,86600,86600,86600,86600,86600,86600,...,87200,87200,87200,87300,87400,87500,87600,87700,87800,87900
2018-02,86600,86600,86600,86600,86600,86600,86600,86600,86600,86600,...,87200,87200,87200,87200,87200,87300,87300,87400,87400,87600
2018-03,86600,86600,86600,86600,86600,86600,86600,86600,86600,86600,...,87300,87400,87500,87700,87800,88000,88000,88000,88100,88100