In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hupai.txt', delim_whitespace=True, parse_dates=['month'])
df.month = df.month.dt.to_period('M')
df

     month  headcount  initial  lowest  average      stop  number
0  2018-04     204980    86300   86900    87089  11:29:12      69
1  2018-03     217056    86300   88100    88176  11:29:56    2526
2  2018-02     220831    86300   87600    87660  11:29:59     410
3  2018-01     226316    86300   87900    87936  11:29:59    3045
4  2017-12     228148    91700   92800    92848  11:29:58    3160
5  2017-11     226911    91700   93100    93130  11:29:59    1025
6  2017-10     244868    91700   93500    93540  11:29:59    2535
7  2017-09     250566    89800   91300    91415  11:29:56    2101
8  2017-08     256083    89800   91600    91629  11:29:59    1468
9  2017-07     269189    89800   92200    92250  11:29:57    1471
10 2017-06     244349    86900   89400    89532  11:29:45     766
11 2017-05     270197    86900   90100    90209  11:29:55    1145
12 2017-04     252273    86900   89800    89850  11:29:59     154
13 2017-03     262010    86000   87800    87916  11:29:55    1476
14 2017-02     251717    86000   88200    88240  11:29:58     843
15 2017-01     232101    86000   87600    87685  11:29:57    4000

In [3]:
import pathlib
p = pathlib.Path('.')
files = list(p.glob('*-*.txt'))

frames = []
months = []
for f in files:
    df = pd.read_csv(f.name, delim_whitespace=True, header=None, names=['time', 'price'])
    frames.append(df)
    months.append(pd.Period(f.stem, 'M'))

total = pd.concat(frames, keys=months)
total.shape

(915, 2)